<div class="container">
    <h2 class="mb-4"><strong>Ad creating</strong></h2>

    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <!-- Basic info -->
        <div class="block p-5 mb-4">
            <div class="lead mb-4">Basic information</div>
            <div class="row gx-5">
                <div class="col-8">
                    <div class="mb-4">
                        <label class="form-label">Enter title*</label>
                        <input class="form-control" placeholder="For example, iPhone 11 with a guarantee" formControlName="title">
                    </div>
                    <div>
                        <label class="form-label">Description*</label>
                        <textarea class="form-control" rows="3" formControlName="description"
                            placeholder="Think about what details you would like to know from the ad and add them to the description"></textarea>
                    </div>
                </div>
                <div class="col-4">
                    <div class="mb-4">
                        <label class="form-label">Choose category*</label>
                        <div class="input-group">
                            <button type="button" class="btn" data-bs-toggle="modal"
                                data-bs-target="#modal">Category</button>
                            <input type="text" class="form-control" disabled
                                [value]="(category) ? category.name : 'Choose...'">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Location*</label>
                        <input class="form-control" placeholder="City and region" formControlName="location">
                    </div>
                </div>
            </div>
        </div>

        <!-- Photo -->
        <div class="block p-5 mb-4">
            <div class="lead mb-4">Photo</div>
            <div class="mb-3">
                <label for="formFile" class="form-label">...</label>
                <input class="form-control" type="file" id="formFile">
            </div>
        </div>

        <!-- Details (tags) -->
        <div *ngIf="tags.length > 0" class="block p-5 mb-4">
            <div class="lead mb-4">Details</div>
            <div class="row gx-5">
                <div *ngFor="let tag of tags" class="col-6 mb-4">

                    <!-- Switch on tag type -->
                    <div [ngSwitch]="tag.type">

                        <div *ngSwitchCase="'dropdown'" class="dropdown">
                            <label class="form-label">{{ (tag.isRequired) ? tag.name+'*' : tag.name }}</label>
                            <button
                                class="form-control dropdown-btn dropdown-toggle w-50 d-flex align-items-center justify-content-between"
                                data-bs-toggle="dropdown">{{ (tag.displayValue.length!==0) ? tag.displayValue : 'Choose'
                                }}</button>
                            <ul class="dropdown-menu">
                                <li *ngFor="let pv of tag.possibleValues">
                                    <a class="dropdown-item" (click)="onDropdownClick(pv.value, tag.id)">{{ pv.value
                                        }}</a>
                                </li>
                            </ul>
                        </div>

                        <div *ngSwitchCase="'checkbox'">
                            <label class="form-label">{{ (tag.isRequired) ? tag.name+'*' : tag.name }}</label>
                            <div class="row w-75">
                                <div *ngFor="let pv of tag.possibleValues" class="col-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"
                                            (change)="onCheckBoxChange($event.currentTarget, pv.value, tag.id)">
                                        <label class="form-check-label">
                                            {{ pv.value }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngSwitchCase="'input'">
                            <label class="form-label">{{ (tag.isRequired) ? tag.name+'*' : tag.name }}</label>
                            <input class="form-control w-50" [formControlName]="tag.id">
                        </div>

                        <div *ngSwitchCase="'switch'" class="form-check form-switch">
                            <label class="form-label">{{ (tag.isRequired) ? tag.name+'*' : tag.name }}</label>
                            <input class="form-check-input" type="checkbox" role="switch" [formControlName]="tag.id">
                        </div>

                        <div *ngSwitchCase="'pills'">
                            <label class="form-label">{{ (tag.isRequired) ? tag.name+'*' : tag.name }}</label>
                            <div class="list-group w-50">
                                <button (click)="onPillsOptionClick(pv.value, tag.id)" type="button"
                                    *ngFor="let pv of tag.possibleValues"
                                    [class]="(pv.value===tag.displayValue)?'list-group-item list-group-item-action current':'list-group-item list-group-item-action'">{{
                                    pv.value }}</button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="block p-5 mb-4 d-flex justify-content-end">
            <button type="submit" class="btn btn-submit px-5 fw-bold">Publish</button>
            <!-- [disabled]="!form.valid" -->
        </div>
    </form>
</div>

<!-- Modal for category -->
<div class="modal fade" id="modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Choose category</h1>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="row g-3">
                        <div *ngFor="let mc of mainCategories" class="col-4">
                            <div class="dropdown-center">
                                <button class="btn btn-modal w-100 d-flex align-items-center justify-content-center"
                                    data-bs-toggle="dropdown">
                                    <img [src]="mc.photoUrl" class="h-75 me-1">
                                    <div>{{ mc.name }}</div>
                                </button>
                                <ul class="dropdown-menu w-100">
                                    <li *ngFor="let sub of mc.subCategories"><a class="dropdown-item"
                                            (click)="onCategoryClick(sub)" data-bs-dismiss="modal">{{ sub.name
                                            }}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>