<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">MainCategory</a></li>
            <li class="breadcrumb-item"><a href="#">Category</a></li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-7">
            <div class="p-4 col-white">
                <div id="carouselId" class="carousel carousel-dark slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselId" data-bs-slide-to="0" class="active"></button>
                        <button type="button" data-bs-target="#carouselId" data-bs-slide-to="1"></button>
                        <button type="button" data-bs-target="#carouselId" data-bs-slide-to="2"></button>
                        <button type="button" data-bs-target="#carouselId" data-bs-slide-to="3"></button>
                        <button type="button" data-bs-target="#carouselId" data-bs-slide-to="4"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://res.cloudinary.com/dfs6whqzs/image/upload/v1677265319/products/2/2_1_j6bz9l.webp"
                                class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <img src="https://res.cloudinary.com/dfs6whqzs/image/upload/v1677265319/products/2/2_3_szamup.webp"
                                class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <img src="https://res.cloudinary.com/dfs6whqzs/image/upload/v1677265319/products/2/2_4_sqh7ta.webp"
                                class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <img src="https://res.cloudinary.com/dfs6whqzs/image/upload/v1677265319/products/2/2_5_hcdai5.webp"
                                class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <img src="https://res.cloudinary.com/dfs6whqzs/image/upload/v1677265319/products/2/2_2_uxhy56.webp"
                                class="d-block w-100">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselId"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="p-3 col-white">Column</div>
        </div>
    </div>
</div>