<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">MainCategory</a></li>
            <li class="breadcrumb-item"><a href="#">Category</a></li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-7">
            <div class="p-4 col-white">
                <div id="carouselId" class="carousel carousel-dark slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselId" data-bs-slide-to="0" class="active"></button>
                        <button type="button" data-bs-target="#carouselId" data-bs-slide-to="1"></button>
                        <button type="button" data-bs-target="#carouselId" data-bs-slide-to="2"></button>
                        <button type="button" data-bs-target="#carouselId" data-bs-slide-to="3"></button>
                        <button type="button" data-bs-target="#carouselId" data-bs-slide-to="4"></button>
                        <button type="button" data-bs-target="#carouselId" data-bs-slide-to="5"></button>
                        <button type="button" data-bs-target="#carouselId" data-bs-slide-to="6"></button>
                        <button type="button" data-bs-target="#carouselId" data-bs-slide-to="7"></button>
                        <button type="button" data-bs-target="#carouselId" data-bs-slide-to="8"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="crsl-div d-flex justify-content-center align-items-center">
                                <img src="https://res.cloudinary.com/dfs6whqzs/image/upload/v1677265319/products/2/2_1_j6bz9l.webp"
                                    class="h-100 w-auto">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="crsl-div d-flex justify-content-center align-items-center">
                                <img src="https://res.cloudinary.com/dfs6whqzs/image/upload/v1677265319/products/2/2_3_szamup.webp"
                                    class="h-100 w-auto">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="crsl-div d-flex justify-content-center align-items-center">
                                <img src="https://res.cloudinary.com/dfs6whqzs/image/upload/v1677265319/products/2/2_4_sqh7ta.webp"
                                    class="h-100 w-auto">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="crsl-div d-flex justify-content-center align-items-center">
                                <img src="https://res.cloudinary.com/dfs6whqzs/image/upload/v1677265319/products/2/2_5_hcdai5.webp"
                                    class="h-100 w-auto">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="crsl-div d-flex justify-content-center align-items-center">
                                <img src="https://res.cloudinary.com/dfs6whqzs/image/upload/v1677265319/products/2/2_2_uxhy56.webp"
                                    class="h-100 w-auto">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="crsl-div d-flex justify-content-center align-items-center">
                                <img src="https://scontent.fiev15-1.fna.fbcdn.net/v/t39.30808-6/319998570_1515072868993685_2235287507806037771_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=iGcVGgBMou4AX-2ALWY&_nc_ht=scontent.fiev15-1.fna&oh=00_AfAMupSWxAtlqT86L-1aXzcmvABQG-cpAEmgfb3XbO3zeg&oe=63FDC751"
                                    class="h-100 w-auto">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="crsl-div d-flex justify-content-center align-items-center">
                                <img src="https://lh3.googleusercontent.com/hwau7OVWx96XaME5KpRuJ0I_MscrerK6SbRH1UwYHYaxIDQQtn7RZK02LDSfBzCreidFgDsJeXyqDct6EZiH6vsV=w640-h400-e365-rj-sc0x00ffffff"
                                    class="h-100 w-auto">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="crsl-div d-flex justify-content-center align-items-center">
                                <img src="https://static.boredpanda.com/blog/wp-content/uploads/2017/04/JAY_0572-2-2-58f798a00c4da__880.jpg"
                                    class="h-100 w-auto">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="crsl-div d-flex justify-content-center align-items-center">
                                <img src="https://miro.medium.com/v2/resize:fit:1100/format:webp/1*1BUIofZgqVuR6nj8LbrRtQ.jpeg"
                                    class="h-100 w-auto">
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselId"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="p-3 col-white">Column</div>
        </div>
    </div>
</div>