/* You can add global styles to this file, and also import other style files */
@import './styles/variables.scss';
@import './styles/bootstrap.custom.scss';
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: $grey-color;
    color: $main-color;
}

a, a:hover {
    color: $main-color;
    cursor: pointer;
}