@import 'src/styles/variables.scss';

footer {
    background-color: $main-color;
    color: $white-color;
    margin-top: 8rem;

    a {
        text-decoration: none;
    }
}

.align {
    display: flex;
    align-items: center;
}

.copyright {
    background-color: rgba(0, 0, 0, 0.2);
}