<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">MainCategory</a></li>
            <li class="breadcrumb-item active" aria-current="page">Category</li>
        </ol>
    </nav>
    <div i18n class="found" *ngIf="productsCount!==undefined&&productsCount!==0; else notfound">Found {{ productsCount
        }} products</div>
    <!--TODO: Add pipe for displaying amount of found-->
    <ng-template #notfound>
        <div i18n class="found">There are no products of this category :(</div>
    </ng-template>
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
        <div class="col" *ngFor="let pr of products">
            <div class="card shadow-sm">
                <div class="card-top">
                    <img [src]="(pr.mainPhotoUrl)?pr.mainPhotoUrl:'https://ireland.apollo.olxcdn.com/v1/files/k1nng0ftn4453-UA/image;s=1000x700'"
                        class="card-img-top">
                    <div class="label-top" *ngIf="pr.condition">{{ pr.condition }}</div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ pr.title }}</h5>
                    <div class="d-flex justify-content-between">
                        <div class="date-location">{{ pr.publicationDate }}<br>{{ pr.location }}</div>
                        <!--TODO: Add pipe for displaying price or free sign-->
                        <div class="price">{{ pr.price }} &#8372;</div>
                    </div>
                    <div class="text-center my-2">
                        <a i18n href="#" class="btn">see details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pagination -->
    <ul *ngIf="pagesCount&&pagesCount>1&&page>0&&page<pagesCount" class="pagination justify-content-center">
        <li [class]="(page==1)?'page-item disabled':'page-item'">
            <a class="page-link" href="#"><span>&laquo;</span></a>
        </li>
        <li *ngFor="let pageItem of paginationArray" [class]="(pageItem.isActive)?'page-item active':'page-item'">
            <a class="page-link" href="#">{{ pageItem.value }}</a>
        </li>
        <li [class]="(page==pagesCount)?'page-item disabled':'page-item'">
            <a class="page-link" href="#">&raquo;</a>
        </li>
    </ul>
</div>