<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">MainCategory</a></li>
            <li class="breadcrumb-item active" aria-current="page">Category</li>
        </ol>
    </nav>
    <div i18n class="found" *ngIf="products; else notfound">Found {{ products.length }} products</div>
    <!--TODO: Add pipe for displaying amount of found-->
    <ng-template #notfound>
        <div i18n class="found">There are no products of this category :(</div>
    </ng-template>
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
        <div class="col" *ngFor="let pr of products">
            <div class="card shadow-sm">
                <div class="card-top">
                    <img src="https://ireland.apollo.olxcdn.com/v1/files/k1nng0ftn4453-UA/image;s=1000x700"
                        class="card-img-top">
                    <div class="label-top" *ngIf="pr.condition">{{ pr.condition }}</div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ pr.title }}</h5>
                    <div class="d-flex justify-content-between">
                        <div class="date-location">{{ pr.publicationDate }}<br>{{ pr.location }}</div>
                        <!--TODO: Add pipe for displaying price or free sign-->
                        <div class="price">{{ pr.price }} &#8372;</div>
                    </div>
                    <div class="text-center my-2">
                        <a i18n href="#" class="btn">see details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>