@import 'src/styles/variables.scss';

.container {
    margin-top: 8rem;
}

.found {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.card-top {
    height: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.card-body {
    height: 200px;
}

.card {
    height: 100%;
    overflow: hidden;
    width: 100%;
    background: #fff;
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    border: 0;
    border-radius: 1rem;

    h2 {
        font-size: 1rem
    }

    h5 {
        font-size: 1rem;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        color: $main-color;
        min-height: 57px;
    }
}

.price {
    min-height: 58px;
    text-align: right;
    width: 30%;
    font-size: 1rem;
    font-weight: bold;
    color: $main-color
}

.date-location {
    width: 70%;
    font-size: .8rem;
    color: $main-color
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-img,
.card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06)
}

.label-top {
    position: absolute;
    background-color: $main-color;
    color: $white-color;
    top: 8px;
    right: 8px;
    padding: 5px 10px 5px 10px;
    font-size: .7rem;
    font-weight: 600;
    border-radius: 3px;
    text-transform: uppercase
}

.btn {
    font-size: 1rem;
    text-transform: uppercase;
    padding: 5px 50px 5px 50px;
    background-color: $main-color;
    color: $secondary-color;
    border: none;
    border-radius: 10px;
}

.btn:hover {
    background-color: $secondary-color;
    color: $white-color;
    box-shadow: -1px 6px 19px rgba(43, 255, 244, 0.41)
}