<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">MainCategory</a></li>
            <li class="breadcrumb-item active" aria-current="page">Category</li>
        </ol>
    </nav>
    <div i18n class="found" *ngIf="productsCount!==undefined&&productsCount!==0; else notfound">Found {{ productsCount }} products</div>
    <!--TODO: Add pipe for displaying amount of found-->
    <ng-template #notfound>
        <div i18n class="found">There are no products of this category :(</div>
    </ng-template>
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
        <div class="col" *ngFor="let pr of products">
            <div class="card shadow-sm">
                <div class="card-top">
                    <img [src]="(pr.mainPhotoUrl)?pr.mainPhotoUrl:'https://ireland.apollo.olxcdn.com/v1/files/k1nng0ftn4453-UA/image;s=1000x700'"
                        class="card-img-top">
                    <div class="label-top" *ngIf="pr.condition">{{ pr.condition }}</div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ pr.title }}</h5>
                    <div class="d-flex justify-content-between">
                        <div class="date-location">{{ pr.publicationDate }}<br>{{ pr.location }}</div>
                        <!--TODO: Add pipe for displaying price or free sign-->
                        <div class="price">{{ pr.price }} &#8372;</div>
                    </div>
                    <div class="text-center my-2">
                        <a i18n href="#" class="btn">see details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template>

    </ng-template>

    7 pages <br>
    1 Page
    <ul class="pagination justify-content-center">
        <li class="page-item disabled"><a class="page-link" href="#"><span>&laquo;</span></a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
    </ul>

    2 Page
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="#"><span>&laquo;</span></a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
    </ul>

    3 Page
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="#"><span>&laquo;</span></a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item active"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
    </ul>

    4 Page
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="#"><span>&laquo;</span></a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item active"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">6</a></li>
        <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
    </ul>

    5 Page
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="#"><span>&laquo;</span></a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item active"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">6</a></li>
        <li class="page-item"><a class="page-link" href="#">7</a></li>
        <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
    </ul>

    6 Page
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="#"><span>&laquo;</span></a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item active"><a class="page-link" href="#">6</a></li>
        <li class="page-item"><a class="page-link" href="#">7</a></li>
        <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
    </ul>

    7 Page
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="#"><span>&laquo;</span></a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">6</a></li>
        <li class="page-item active"><a class="page-link" href="#">7</a></li>
        <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
    </ul>


</div>