<div class="container">
    <div *ngIf="!likedProducts; else found" class="fav-title">You haven't added ads to your favourites yet</div>

    <ng-template #found>

        <div class="fav-title mb-4">Ad favourites</div>
        <ul class="nav nav-tabs" *ngIf="likedProducts">
            <li class="nav-item">
                <div class="nav-link active">Your favourites ({{ likedProducts.length }})</div>
            </li>
            <li class="nav-item">
                <a class="nav-link remove">Remove all favourites</a>
            </li>
        </ul>
        <div *ngIf="likedProducts" class="p-5 border-rounded">
            <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
                <div class="col" *ngFor="let pr of likedProducts">
                    <div class="card shadow-sm">
                        <div class="card-top">
                            <img [src]="(pr.mainPhotoUrl)?pr.mainPhotoUrl:'https://ireland.apollo.olxcdn.com/v1/files/k1nng0ftn4453-UA/image;s=1000x700'"
                                class="card-img-top">
                        </div>
                        <div class="card-body">
                            <div class="label-like rounded-circle d-flex justify-content-center align-items-center">
                                <a (click)="onLikeClick(pr.id)"><i class='bx bx-sm'
                                        [class]="(pr.liked)?'bxs-heart liked':'bx-heart bx-tada-hover'"></i></a>
                            </div>
                            <h5 class="card-title"><a [routerLink]="['/product', pr.id]">{{ pr.title }}</a></h5>
                            <div class="d-flex justify-content-between">
                                <div class="date-location">{{ pr.publicationDate }}<br>{{ pr.location }}</div>
                                <div class="price" [innerHTML]="pr.priceInfo | price"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>