@import 'src/styles/variables.scss';

.container {
    margin-top: 8rem;
}

.fav-title {
    font-weight: bold;
    font-size: 1.5rem;
}

.card-top {
    position: relative;
    height: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.card-body {
    position: relative;
}

.card {
    height: 100%;
    overflow: hidden;
    width: 100%;
    background: #fff;

    h2 {
        font-size: 1rem
    }

    h5 {
        font-size: 1rem;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        color: $main-color;
        min-height: 57px;
    }
}

.price {
    text-align: right;
    width: 30%;
    font-size: 1rem;
    font-weight: bold;
    color: $main-color
}

.date-location {
    width: 70%;
    font-size: .8rem;
    color: $main-color
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-img,
.card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.label-like {
    position: absolute;
    background-color: $white-color;
    color: $main-color;
    right: 8px;
    top: -20px;
    height: 35px;
    width: 35px;
}

.liked, .remove:hover {
    color: crimson;
}

.border-rounded {
    background-color: white;
}

a, a:hover {
    color: $main-color;
}