<nav class="navbar">
    <div class="container">
        <a class="navbar-brand" href="#">
            <i class='bx bx-store bx-lg logo-icon'></i>
        </a>

        <ul class="navbar-nav ms-auto flex-row">
            <li class="nav-item">
                <a class="nav-link d-flex" href="#">
                    <i class='bx bx-message bx-sm nav-icon'></i>
                    <span>Messages</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex" href="#">
                    <i class='bx bx-heart bx-sm nav-icon'></i>
                    <span>Favourites</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex" href="#">
                    <i class='bx bx-user bx-sm nav-icon'></i>
                    <span>Your profile</span>
                </a>
            </li>
            <li class="nav-item">
                <button class="btn">Sell product</button>
            </li>
        </ul>
    </div>
</nav>