.navbar {
    background-color: var(--main-color);
}

.nav-link {
    color: var(--secondary-color);
}

.navbar-brand {
    color: var(--secondary-color);
    font-weight: bold;
    align-items: center;
}

.navbar-nav {
    align-items: center;
}

.nav-item {
    margin-left: 2rem;
}

.nav-link span {
    margin-left: .5rem;
}

.btn {
    color: var(--main-color);
    background-color: var(--secondary-color);
    border: .1rem solid transparent;
    font-weight: bold;
}

.nav-link:hover {
    color: var(--white-color);
}

.btn:hover {
    color: var(--white-color);
    background-color: var(--main-color);
    border: .1rem solid var(--white-color);
    transition: .5s;
}