@import 'src/styles/variables.scss';
@import url('https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css');

.navbar {
    background-color: $main-color;
}

.nav-link {
    color: $secondary-color;

    span {
        margin-left: .5rem;
    }
}

.navbar-brand {
    color: $secondary-color;
    font-weight: bold;
    align-items: center;
}

.navbar-nav {
    align-items: center;

    //override bootstrap for language switcher
    .dropdown-menu {
        position: absolute;
    }
}

.nav-item {
    margin-left: 2rem;
}

.btn {
    color: $main-color;
    background-color: $secondary-color;
    border: .1rem solid transparent;
    font-weight: bold;
}

.nav-link:hover, .your-profile:hover {
    color: $white-color;
}

.btn:hover {
    color: $white-color;
    background-color: $main-color;
    border: .1rem solid $white-color;
    transition: .5s;
}

.language-switcher {
    color: $secondary-color;
}

.language-switcher:hover {
    color: $white-color;
}

.selected {
    font-size: larger;
}

.dropdown-item:hover {
    background-color: $grey-color;
}

.your-profile {
    display: flex;
    align-items: center;
    color: $secondary-color;
    text-decoration: none;

    span {
        margin-left: .5rem;
    }
}